# Python artifacts
__pycache__/
*.py[cod]
*$py.class

# Caches & logs
.cache/
*.log

# Environments
.env
*.env

# IDE folders
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Output & temp
output/
temp/

# Paperless-NGX Docker Volumes (JANGAN DI-PUSH KE GIT)
paperless_ngx/data/
paperless_ngx/media/
paperless_ngx/consume/
paperless_ngx/export/
paperless_ngx/db/
paperless_ngx/redis/
paperless_ngx/uploads/
